@font-face {
    font-family: 'RobotoBold';
    src        : url('../fonts/RobotoCondensed-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'RobotoRegular';
    src        : url('../fonts/RobotoCondensed-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'RobotoLight';
    src        : url('../fonts/RobotoCondensed-Light.ttf') format("truetype");
}

.box-button {
    display    : flex;
    flex-flow  : column-reverse nowrap;
    align-items: flex-end;
    width      : 90%;
    height     : 100px;
    margin     : 2rem auto;
}

#cad_logo {
    font-weight: 600;
}

#cad_logo i {
    font-size: 3rem;
}

.dark_wine {
    background: #6f395c;
}

.dark_wine_clr {
    color: #6f395c;
}

.page-footer {
    padding         : 15px;
    color           : #333;
    background-color: #fff;
    box-shadow      : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.site {
    display       : flex;
    min-height    : 100vh;
    flex-direction: column;
    overflow-x    : hidden;
}

main {
    flex: 1 0 auto;
}

.silver {
    background: #e3e3e3;
}

.fwb {
    font-family: RobotoBold;
    color      : #727272;
}

.icon {
    font-size     : 50px;
    vertical-align: sub;
    margin-right  : 1rem;
}

.medium_icon {
    font-size: 1.8rem !important;
}

#messenger {
    font-size: 1.5rem;
}

.box {
    background     : url('../images/004.jpg') center center no-repeat;
    width          : 100vw;
    height         : 100vh;
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    background-size: cover;

}

.boxContent {
    border-radius: 2px;
    width        : 300px;
    height       : 300px;
    margin       : 0px 10px;
    padding      : 20px 30px;
    position     : relative;
}

.boxContent .btn:hover {
    background: #226066;
}

#erro {
    position: absolute;
    color   : rgb(199, 22, 22);
    left    : 32px;
    top     : 0;
}

#usuario:focus,
#pass:focus {
    border-bottom: 1px solid #6f395cff;
    box-shadow   : 0 1px 0 0 #6f395cff;
}

#usuario:focus+label,
#pass:focus+label {
    color: #6f395cff;
}

#title_login {
    margin-top: 0;
}

.shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

footer span {
    font-size: 12px;
}

#list tr  {
    font-family: RobotoRegular;
    font-size  : 1.1rem;
}

.modal {
    width      : 35%;
    font-family: RobotoLight;
}

table.striped > tbody > tr:nth-child(2n+1) {
    background-color: rgba(255, 255, 255, 0.44);
}